@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<h1>   ABOUT US : Pinky Ponky Buttons</h1>
<p>welcome to pinky ponky buttons company like the name companyis all about creating distinct type of buttons.where creativity and craftmanship meet functionality.
    .Buttons are not just fasterners;they are an expression of individuality and fashion.we understand the significance of details.
    The right button can transform a garment, adding sophistication and character to even the simplest attire </p>